.app-layout {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  position: relative;

  .main-content {
    flex: 1;
    min-width: 0;
    display: flex;
    flex-direction: column;
  }

  app-footer {
    display: block;
    width: 100%;
    flex: 0 0 auto;
  }
}
